################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JustShimProfiler/.vs/JustShimProfiler/v16
/JustShimProfiler/Debug
/JustShimProfiler/x64/Debug
/CSharpTest/bin/x86/Debug
/CSharpTest/obj
/bin/x86/Debug
