################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JustShimProfiler/.vs/JustShimProfiler/v16
/JustShimProfiler/Debug
/JustShimProfiler/x64/Debug
/CSharpTest/bin/x86/Debug
/CSharpTest/obj
/bin/**
/CSharpTest/.vs/**
/CSharpTest/bin/**
/CSharpTest/obj/**
/JustShim/bin/**
/JustShim/obj/**
/JustShimProfiler/bin/**
/JustShimProfiler/obj/**
/JustShim/packages/**
/JustShimProfiler/packages/**
/JustShim.Tests/bin/**
/JustShim.Tests/obj/**
/JustShim.Tests/packages/**
/JustShim.Tests/.vs/**
/JustShimProfiler/.vs/**
