################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JustShimProfiler/.vs/JustShimProfiler/v16
/JustShimProfiler/Debug
